li{
    list-style-type:none;
}
.schedule{
    width: 65%;
    position: relative;
    top: 2em;
    float: left;
}
@media screen and (max-width: 767px){
    .schedule{
        width: 100%;
        margin: 0 auto;
    }
}
.scheduleImgTitle{
    width: 100%;
    background-color: #FB565C;
}
.dueImgTitle{
    width: 100%;
    background-color: #FB565C;
}
.schedule img {
    width: 100%;
}