li{
    list-style-type:none;
}
.store{
    width: 65%;
    position: relative;
    top: 2em;
    float: left;
}
@media screen and (max-width: 767px){
    .store{
        width: 100%;
        margin: 0 auto;
    }
}
.storeIntroText{
    width: 100%;
    word-break: break-all;
}
.storeIntroInfo{
    width: 100%;
    word-break: break-all;
}
.storeIntroMap{
    width: 350px;height: 300px;
    float: left;
    margin-top: 3%;
}
.storeIntroMap iframe{
    width: 350px;height: 300px;
}
.storeIntroQR{
    width: 270px;height: 240px;
    line-height: 300px;
    float: left;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.storeIntroQR img{
    width: 100%;height: 100%;
}
@media screen and (max-width: 450px){
    .storeIntroMap{
        width: 245px;height: 210px;
    }
    .storeIntroMap iframe{
        width: 245px;height: 210px;
    }
    .storeIntroQR{
        width: 245px;height: 210px;
        margin-left: 0;
        margin-bottom: 12%;
    }
}
.clear{
    clear:both;
    height: 0;
    line-height: 0;
    font-size: 0;
}
.storeCoachesBox{
    display: none;
}
.storeCoachesBox ul{
    padding: 0px;
}
.storeCoachesBox ul li{
    margin-top: 5%;
}
.storeCoachesImg{
    float: left;
    width: 40%;height: 380px;
}
.storeCoachesImg img{
    width: 100%;height: 100%;
}
.storeCoachesText{
    width: 55%;
    float: left;
    margin-left: 5%;
}
.storeCoachesText p{
    word-break: break-all;
}