/*顶部的CSS*/
.headerTop{
    width: 100%;
    height: 40px;
    background-color: #2D313D;
}
.headerIcon{
    height: 100%;
    position: relative;
    top: 5%;
    float: right;
}
.clear{
    clear:both;
    height: 0;
    line-height: 0;
    font-size: 0;
}
.header{
    height: 155px;
    background-color: #141415;
}
.headerLogo{
    /* width: 27.5%;height: 70%; */
    width: 350px; height: 100px;
    background: url(../images/logo.png) no-repeat left center;
    position: relative;
    float: left;
    top: 15%;
    left: 4%;
}
@media screen and (max-width: 840px){
    .headerLogo{
        display: none;
    }
}
/* .headerLogo img{
    width: 100%;height: 100%;
} */
.headerNav{
    position: relative;
    left: 5%;
    top: 2%;
    bottom: 2%;
    float: left;
}
@media screen and (max-width: 767px){
    .headerNav{
        position: relative;
        left: 5%;
        float: left;
    }
}
.headerNav li{
    height: 90%;
}
.headerNav li a:hover{
    background-color: #eff0f8;
}
.headerNav li a{
    height: 100%;
    line-height: 155px;
    font-size: 1.5rem;
    color: #ffffff;
}
@media screen and (max-width: 510px){
    .headerNav li a{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 420px){
    .headerNav li a{
        padding: 0 5px;
    }
}

/*底部的CSS*/
#footer{
    margin-top: 10%;
    clear: both;
    background-color: #2D313D;
    height: 240px;
}
@media screen and (max-width: 1220px){
    #footer{
        background-color: #2D313D;
        height: 280px;
    }
}
@media screen and (max-width: 995px){
    #footer{
        margin-top: 12%;
        background-color: #2D313D;
        height: 280px;
    }
}
@media screen and (max-width: 830px){
    #footer{
        margin-top: 15%;
        background-color: #2D313D;
        height: 280px;
    }
}
@media screen and (max-width: 707px){
    #footer{
        background-color: #2D313D;
        height: 320px;
    }
}
@media screen and (max-width: 594px){
    #footer{
        background-color: #2D313D;
        height: 380px;
    }
}
@media screen and (max-width: 513px){
    #footer{
        background-color: #2D313D;
        height: 440px;
    }
}
@media screen and (max-width: 445px){
    #footer{
        background-color: #2D313D;
        height: 460px;
    }
}
@media screen and (max-width: 405px){
    #footer{
        background-color: #2D313D;
        height: 480px;
    }
}
@media screen and (max-width: 400px){
    #footer{
        background-color: #2D313D;
        height: 510px;
    }
}
@media screen and (max-width: 340px){
    #footer{
        background-color: #2D313D;
        height: 550px;
    }
}
@media screen and (max-width: 318px){
    #footer{
        background-color: #2D313D;
        height: 600px;
    }
}
@media screen and (max-width: 295px){
    #footer{
        background-color: #2D313D;
        height: 870px;
    }
}
.information{
    position: relative;
    top: 20%;left: 15%;
}
@media screen and (max-width: 555px) {
    .information{
        position: relative;
        top: 10%;left: 15%;
    }
}
@media screen and (max-width: 420px) {
    .information{
        position: relative;
        top: 1%;left: 15%;
    }
}
.information li{
    font-size: 1.2em;
    color: #ffffff;
}
.map{
    position: relative;
    top: 1em;
    left: 3em;
}
@media screen and (max-width: 800px){
    .map{
        display: none;
    }
}
.QR{
    position: relative;
    top: 1em;left: 4em;
}
@media screen and (max-width: 800px){
    .QR{
        position: relative;
        top: 1em;left: 5em;
    }
}
@media screen and (max-width: 400px){
    .QR{
        position: relative;
        top: 1em;left: 2em;
    }
}
@media screen and (max-width: 235px){
    .QR{
        display: none;
    }
}

/*回到顶部*/
#go-top {
    position: fixed;
    bottom: 30px;
    right: 10px;
    border: 1px solid red;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    display: none;
}

/* 错误提示 */
.errorSug {
    position: fixed;
    width: 100%;
    height: 15px;
    display: none;
    z-index: 100;
    top: 7%;
}
.errorWord {
    margin: 0 auto;
    width: 200px;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #FEF0F0;
    border-radius: 10px;
}
.errorWord p {
    color: #F56C6C;
    padding-top: 2%;
    padding-left: 5px;
    font-size: 14px;
}