/*轮播*/
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/*中间内容*/
.content{
    width: 80%;
    margin: 0 auto;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    zoom: 1; /*兼容 IE*/
}

/*随笔*/
.essay{
    width: 65%;
    position: relative;
    top: 2em;
    float: left;
}
@media screen and (max-width: 767px){
    .essay{
        width: 100%;
        margin: 0 auto;
    }
}
.essayList{
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #767679;
}
.essayBox{
    width: 95%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 3% !important;
}
.essayDate{
    margin-bottom: 0px;
}
.essayTitle{
    margin-top: 0px;
    margin-bottom: 0px;
}
/*#loading{*/
    /*display: none;*/
/*}*/

/*边栏*/
.sidebar{
    width: 30%;
    position: relative;
    left: 5%;top: 1em;
    float: left;
}