/*轮播*/
body {
    margin: 0;
    padding: 0;
}    
.bannerSlider { 
    position: relative;
    overflow: hidden;
    text-align: center;
}
.bannerSlider ul { padding: 0;}
.bannerSlider ul li{
    list-style: none;
    float: left;
    display: none;
}
.bannerSlider ul li:first-child {
    display: block;
}
#bannerBigBox { 
    width: 100%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background: #D0D0D0;
}
#bannerBigBox .dots { 
    position: absolute;
    left: 0; right: 0;
    bottom: 20px;
}
#bannerBigBox .dots li { 
    display: inline-block; 
    width: 10px; 
    height: 10px; 
    margin: 0 4px; 
    text-indent: -999em; 
    border: 2px solid #fff; 
    border-radius: 6px; 
    cursor: pointer; 
    opacity: .4; 
    -webkit-transition: background .5s, opacity .5s; 
    -moz-transition: background .5s, opacity .5s; 
    transition: background .5s, opacity .5s;
}
#bannerBigBox .dots li.active 
{
    background: #fff;
    opacity: 1;
}
#bannerBigBox .arrow { 
    position: absolute;
    top: 50%;
}
#bannerBigBox #al { left: 15%;}
#bannerBigBox #ar { right: 15%;}

/*中间内容*/
.content{
    width: 80%;
    margin: 0 auto;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    zoom: 1; /*兼容 IE*/
}

/*随笔*/
.essay{
    width: 65%;
    position: relative;
    top: 2em;
    float: left;
}
@media screen and (max-width: 767px){
    .essay{
        width: 100%;
        margin: 0 auto;
    }
}
.essayList{
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #767679;
}
.essayBox{
    width: 95%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 3% !important;
}
.essayDate{
    margin-bottom: 0px;
}
.essayTitle{
    margin-top: 0px;
    margin-bottom: 0px;
}
/*#loading{*/
    /*display: none;*/
/*}*/

/*边栏*/
.sidebar{
    width: 30%;
    position: relative;
    left: 5%;top: 1em;
    float: left;
}